html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.Cover {
  background: #0D0D0D;
  color: #E5E5E5;
  font-family: Helvetica, sans-serif;
}
.Cover a {
  color: #D0D0D0;
  text-decoration: none;
  transition: color 0.2s ease-out;
}
.Cover a:hover {
  color: rgba(208, 208, 208, 0.5);
}

.Dummy {
  background: #4d456d;
  color: #312b4a;
  font-family: Helvetica, sans-serif;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Buttons__Button {
  align-items: center;
  background: #292929;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 100px;
  justify-content: center;
  margin: 2%;
  width: 100px;
}
.Buttons a {
  color: #D0D0D0;
  font-display: auto;
  font-family: "Righteous", cursive;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: 0.5s ease-out;
  will-change: transform;
}
.Buttons a:hover {
  background: #F86363;
  color: #141414;
  transform: scale(1.2);
}

.Headers {
  text-align: center;
}
.Headers__Title {
  color: #E5E5E5;
  font-display: auto;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
}

.LiveCall {
  height: 60px;
  width: 100%;
}
.LiveCall::before {
  content: "";
  background: linear-gradient(to right, #068673 70%, rgba(6, 134, 115, 0) 100%);
  height: 100%;
<<<<<<< HEAD
  position: absolute;
  z-index: 2;
  background: linear-gradient(to right, #3a3a3a 70%, #ffff0000 100%);
=======
>>>>>>> 45a00ef493a8737617e4f306519f240ea9f4a8c9
  left: 0;
  position: absolute;
  top: 0;
  width: 30%;
  z-index: 2;
}
.LiveCall::after {
  content: "";
  background: linear-gradient(to left, #068673 70%, rgba(6, 134, 115, 0) 100%);
  height: 100%;
  position: absolute;
<<<<<<< HEAD
  z-index: 1;
  background: linear-gradient(to left, #3a3a3a 70%, #ffff0000 100%);
=======
>>>>>>> 45a00ef493a8737617e4f306519f240ea9f4a8c9
  right: 0;
  top: 0;
  width: 30%;
  z-index: 1;
}
.LiveCall__Wrapper {
  height: 60px;
  margin: auto;
  max-width: 1140px;
  position: relative;
}
.LiveCall__Wrapper::before {
  content: "";
  background: rgba(6, 134, 115, 0.5);
  height: 100%;
  position: absolute;
<<<<<<< HEAD
  background: rgba(0, 0, 0, 0.9);
=======
  width: 100%;
>>>>>>> 45a00ef493a8737617e4f306519f240ea9f4a8c9
  z-index: 1;
}
.LiveCall__ContentContainer {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.Position-Below {
  position: fixed;
  top: 0;
  box-shadow: 0 3px 6px #332e48;
}
.Position-Bottom {
  position: fixed;
  bottom: 0;
  box-shadow: 0 -3px 6px #332e48;
}

.LiveCall__ButtonContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.LiveCall__Button {
  border-radius: 50px;
  padding: 8px 50px;
  text-align: center;
  border: none;
<<<<<<< HEAD
  background: #F5515F;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  text-shadow: -1px 1px 2px #F5515F;
=======
  background: #eff173;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 14px;
  color: red;
>>>>>>> 45a00ef493a8737617e4f306519f240ea9f4a8c9
  animation-name: ButtonPulsar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: transform;
}
.LiveCall__Button:focus {
<<<<<<< HEAD
  outline-color: #F5515F;
=======
  outline-color: #eff173;
>>>>>>> 45a00ef493a8737617e4f306519f240ea9f4a8c9
}
.LiveCall__ButtonCopy {
  color: black;
  font-family: Helvetica;
  font-size: 10px;
  padding: 5px 8px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}

@keyframes ButtonPulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
<<<<<<< HEAD
    box-shadow: -2px 2px 2px #4e1b20;
=======
    box-shadow: -2px 2px 2px #72731e;
    text-shadow: -1px 1px 2px blue;
>>>>>>> 45a00ef493a8737617e4f306519f240ea9f4a8c9
  }
  100% {
    transform: scale(1);
  }
}
.LiveCall__ImageContainer {
  padding: 0 40px;
  width: 50%;
}
.LiveCall__Image {
  height: 100%;
  max-width: 100%;
}

@media (max-width: 414px) {
  .LiveCall__ImageContainer {
    padding: 2%;
  }
}
.LiveCall__VideoContainer {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.LiveCall__Video {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.LiveCallFloating {
  bottom: 10%;
  display: block;
  height: 60px;
  left: 0;
  margin: auto;
  max-width: 90%;
  position: fixed;
  right: 0;
}
.LiveCallFloating__Wrapper {
  height: 100%;
}
.LiveCallFloating__ContentContainer {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.LiveCallFloating__ButtonContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: flex-end;
=======
  padding: 0px 40px;
  width: 50%;
>>>>>>> 45a00ef493a8737617e4f306519f240ea9f4a8c9
}
.LiveCallFloating__Button {
  border-radius: 50px;
  padding: 8px 50px;
  text-align: center;
  border: none;
  background: #eff173;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 14px;
  color: red;
  text-shadow: -1px 1px 2px #72731e;
  animation-name: ButtonPulsar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: transform;
}
.LiveCallFloating__Button:focus {
  outline-color: #eff173;
}
.LiveCallFloating__ButtonCopy {
  color: black;
  font-family: Helvetica;
  font-size: 10px;
  padding: 5px 8px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}

.LiveCallFloating__ImageContainer {
  text-align: center;
  width: 50%;
}
.LiveCallFloating__Image {
  height: 100%;
  max-width: 100%;
}

.LiveCallFloating__VideoContainer {
  border-radius: 30px;
  box-shadow: -4px 4px 10px #332e48;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.LiveCallFloating__VideoContainer::before {
  content: "";
  background: rgba(255, 0, 0, 0.3);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.LiveCallFloating__Video {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.TextContainer {
  font-family: Helvetica;
  line-height: 22px;
  margin: auto;
  max-width: 1140px;
}

@media (max-width: 1140px) {
  .TextContainer {
    padding: 0px 20px;
  }
}

/*# sourceMappingURL=Main.css.map */
