// Text Container | 11/2/19

.TextContainer {

    max-width: 1140px;
    margin: auto;
    font-family: Helvetica;
    line-height: 22px;
    color: #a1a1af;

}

@media (min-width: 414px) {

    .TextContainer {

        padding: 0px 20px;

    }

}
