// LiveCallFloating | 11/2/19

.LiveCallFloating {

    display: block;
    max-width: 90%;
    position: fixed;
    height: 60px;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;

    &__Wrapper {
        height: 100%;

    }

    &__ContentContainer {

        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;

    }



}
