// LiveCall Button | 11/2/19

.LiveCall {

    &__ButtonContainer {

        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    &__Button {

        border-radius: 50px;
        padding: 8px 50px;
        text-align: center;
        border: none;
        background: #73f1df;
        font-family: Helvetica;
        text-transform: uppercase;
        font-size: 14px;
        color: #0d7364;
    }
}
