// LiveCallFloating | Raptor v0.0.2

.LiveCallFloating {

    &__ImageContainer {

        width: 50%;
        text-align: center;

    }

    &__Image {
        max-width: 100%;
        height: 100%;

    }

}
