// LiveCall Floating Drops File | Raptor v0.0.2

$LCF-D1: red; // Main
$LCF-D2: black; // Text Info
$LCF-D3: red; // Text Button
$LCF-D4: #eff173; // Button Interaction
$LCF-D5: #332e48; // Shadow LiveCall Floating
$LCF-D6: #72731e; // Shadow Button
$LCF-D7: blue; // Shadow Button Text
