// LiveCall Drops File | Raptor v0.0.2

$LC-D1: #068673; // Main
$LC-D2: black; // Text Info
$LC-D3: red; // Text Button
$LC-D4: #eff173; // Button Interaction
$LC-D5: #332e48; // Shadow LiveCall
$LC-D6: #72731e; // Shadow Button
$LC-D7: blue; // Shadow Button Text
